#list-page-container {
    background-color: #ffccbc;
    min-height: 100vh;
    animation: expandBack 0.8s ease forwards;
}

@keyframes expandBack {
    0% {
        transform: translateX(-1400px);
    }
    100% {
        transform: translateX(0px);
    }
}

#list-page-header {
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    padding-top: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    padding: 20px;
}

#list-table {
    border-collapse: collapse;
}

.table-header {
    background-color: #00887a;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: black 0.5px solid;
    padding: 10px;
}

.table-line {
    background-color: white;
    border: black 0.5px solid;
    text-align: center;
    padding: 10px;
    max-width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.submit-link {
    text-decoration: none;
    color: #77a6f7;
}

.submit-link:hover {
    font-weight: bold;
}

.custom-button {
    background-color: white;
    padding: 6px 12px;
    border-radius: 20px;
    border: #00887a solid 1px;
    width: max-content;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    color: #77a6f7;
    text-decoration: none;
}

.custom-button:hover {
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #table-container {
        height: 60vh;
    }
}
